{
  "env": {
    "client": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["transform-class-properties"]
    },
    "server": {
      "presets": [["env", { "targets": { "node": "9" } }], "react", "stage-0"],
      "plugins": ["transform-class-properties"]
    }
  }
}
